.edit-modal {
    .ant-modal-content {
        padding: 0px !important;
    }

    .ant-modal-header {
        padding: 20px 24px 0px 24px;
    }

    .edit-modal-body {
        padding: 0px 24px;
    }

    .ant-modal-footer {
        padding: 0px 24px 20px 24px;
    }
}